.max-w1200 { max-width: 1200px; }
.bg { background: #ffffff; }
.box {
  border-radius: 5px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p1015 { padding: 10px 15px; }

.mt15 { margin-top: 15px; }
.mt10 { margin-top: 10px; }
.ml15 { margin-left: 15px; }
.ml10 { margin-left: 10px; }
.mr15 { margin-right: 15px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.m15 { margin: 15px; }
.m10 { margin: 10px; }

.ft12 { font-size: 12px; }
.ft14 { font-size: 14px; }
.ft16 { font-size: 16px; }
.ft18 { font-size: 18px; }
.ft20 { font-size: 20px; }
.ft22 { font-size: 22px; }
.ft24 { font-size: 24px; }

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes swiperFade {
	0% {
		opacity: 1;
    backdrop-filter: blur(10px);
	}
	100% {
		opacity: 0;
    backdrop-filter: blur(0px);
	}
}