.max-w1200 { max-width: 1200px; }
.bg { background: #ffffff; }
.box {
  border-radius: 5px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p1015 { padding: 10px 15px; }
.p20 { padding: 20px; }
.pb15 { padding-bottom: 15px; }
.pt15 { padding-top: 15px; }
.p30 { padding: 30px; }
.pb30 { padding-bottom: 30px; }
.pt30 { padding-top: 30px; }

.mt15 { margin-top: 15px; }
.mt10 { margin-top: 10px; }
.ml15 { margin-left: 15px; }
.ml10 { margin-left: 10px; }
.mr15 { margin-right: 15px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb30 { margin-bottom: 30px; }
.mt30 { margin-top: 30px; }
.m15 { margin: 15px; }
.m10 { margin: 10px; }

.ft12 { font-size: 12px; }
.ft14 { font-size: 14px; }
.ft16 { font-size: 16px; }
.ft18 { font-size: 18px; }
.ft20 { font-size: 20px; }
.ft22 { font-size: 22px; }
.ft24 { font-size: 24px; }
.ft26 { font-size: 26px; }
.ft28 { font-size: 28px; }

.line28 { line-height: 28px; }

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  background:rgba(255,255,255,0.9);
  backdrop-filter: saturate(100%) blur(10px);
}
.color-primary {
  color: #f56c6c
}
.color-default {
  color: #333333
}
.color-danger {
  color: red
}
.color-warning {
  color: #ffa600
}
.color-link {
  color: #008dff
}
.color-gray {
  color: #999999
}

@keyframes swiperFade {
	0% {
		opacity: 1;
    backdrop-filter: blur(10px);
	}
	100% {
		opacity: 0;
    backdrop-filter: blur(0px);
	}
}