:root {

  /* --rgb-primary: 255,102,102; */
  --rgb-primary: 54, 164, 108;
  --rgb-white: 255, 255, 255;
  --rgb-dark: 51, 51, 51;
  --rgb-sub: 51, 163, 255;

  --space-5: 5px;
  --space-10: 10px;
  --space-15: 15px;
  --space-20: 20px;
  --space-25: 25px;
  --space-30: 30px;

  --color-dark: rgb(var(--rgb-dark));
  --color-white: rgb(var(--rgb-white));
  --color-primary: rgb(var(--rgb-primary));
  --color-primary-05: rgba(var(--rgb-primary), 0.5);
  --color-primary-01: rgba(var(--rgb-primary), 0.1);
  --color-gray: rgba(var(--rgb-dark), 0.6);
  --color-link: rgb(var(--rgb-sub));

  --bg-white: rgba(var(--rgb-white),1);
  --bg-primary: rgba(var(--rgb-dark), 0.05);

  --border-1: rgba(var(--rgb-dark), 0.1);
  --border-2: rgba(var(--rgb-dark), 0.2);

  --font-s: 12px;
  --font-m: 14px;
  --font-l: 16px;
  --font-xl: 18px;
  --font-xxl: 20px;
  --font-xxxl: 22px;
  --font-xxxxl: 24px;
  --font-xxxxxl: 26px;
  --font-xxxxxxl: 28px;
  --font-xxxxxxxl: 30px;
  --font-xxxxxxxxl: 32px;
  --border-radius: 5px;

  --content-width: 1200px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #222222!important;
  }
  body:after {
    display: none!important;
  }
  .blur {
    background: rgba(var(--rgb-white),.9)!important;
  }
  .yzp-box {
    background: var(--bg-white)!important;
    border: 1px solid var(--border-1)!important;
  }
  :root {
    --rgb-white: 55, 55, 55;
    --rgb-dark: 180, 180, 180;
  }
}